.messages-page {
  display: flex;
  flex-direction: row;
  @include page;
}

.loading-container {
  height: 100%;
}

.no-convo-message {
  flex: 2;
  text-align: center;
  display: flex;

  h2 {
    margin: 0 auto;
    align-self: center;
  }
}
